<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
	integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
	crossorigin="anonymous">
    {% load static %}
<link rel="stylesheet" href="{% static "css/obuwie-meskie.css" %}">
<title>O Rety!</title>

</head>
<body>
	<nav class="navbar navbar-expand-md position-sticky" id="navBar">

		<a class="navbar-brand text-center" href="/home"><ul>
				<li>O Rety!</li>
				<li class="small text-center">Buty i Skarpety</li>
			</ul></a>
		<button class="navbar-toggler navbar-light toglerikona" type="button"
			data-toggle="collapse" data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false"
			id="togglebutt" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div
			class="collapse navbar-collapse justify-content-start collapsednavbarcss"
			id="navbarSupportedContent">
			<div>
				<a href="/obuwie-{{ listamenugorne.0.lower}}">
					<button type="button" class="btn btn-sm przyciskinavbar"
						>{{listamenugorne.0}}</button>
				</a>
			</div>
			<div>
				<a href="/obuwie-{{ listamenugorne.1.lower }}">
					<button type="button" class="btn btn-sm przyciskinavbar"
						>{{listamenugorne.1}}</button>
				</a>
			</div>
			<div>
				<a href="/obuwie-{{ listamenugorne.2.lower }}">
					<button type="button" class="btn btn-sm przyciskinavbar"
						>{{ listamenugorne.2}}</button>
				</a>
			</div>
			<div class="szukajcss" id="szukajcss">
				<input class="form-control mr-sm-0 input szukajform" id="szukajform"
					data-ref="input-search" type="search" placeholder="Szukaj"
					aria-label="Search">
			</div>

			<div class="logowaniecss" id="logowaniecss" style="padding-left:75px">
                {% if not user.is_authenticated %}
				<a href="/login">
					<button type="button" class="btn btn-sm logowanieprzycisk">
						<span class="fas fa-user"></span> <span></span>
					</button>
				</a>
                {% endif %}
                {% if user.is_authenticated %}
				<form action="/logout/" method="post">
                {% csrf_token %}
					<div class="btn-group">
						<button type="button" class="btn  btn-sm logowanieprzycisk"
							data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<span class="fas fa-user"></span> <span></span>
						</button>
						<div class="dropdown-menu" style="margin-left: -65px; margin-top: 13px">
							<a class="dropdown-item text-center" href="/zakupy/">Moje Zakupy</a>
                            {% if user.is_superuser %}
							<a class="dropdown-item text-center" href="/admin/">
                               Panel Admina</a>
                                {% endif %}
							<button class="dropdown-item text-center" type="submit"
								value="Sign Out">Wyloguj</button>

						</div>
					</div>
				</form>
                {% endif %}




			</div>

			<div class="koszykcss" id="koszykcss">
				<button type="button" class="btn btn-sm przyciskkoszyk" style="">
					<a data-toggle="modal" data-target="#myModal"> <i
						class="fas fa-cart-arrow-down"> <span
							class="badge badge-pill badge-dark simpleCart_quantity"> </span>
					</i>
					</a>
				</button>
			</div>
		</div>




	</nav>

	<div class="container-fluid" style="padding: 0">
		<div class="row">
			<div class="col-md-12 borderz">
				<img src="{% static  listamenugorne.3  %}"
					style="height: 100%; width: 100%; object-fit: contain">
			</div>
		</div>
	</div>




	<!--testoweeeeee-->

	<!--testoweeeeeeeeeee-->

	<!-- Modal -->
	<div class="modal fade" id="myModal" style="width: 100% !important;"
		tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
		aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header text-center">
					<span class="modal-title text-center" id="myModalLabel">Koszyk
						<span class="showIfEmpty">jest pusty</span>
					</span>
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">&times;</button>
				</div>
				<div class="hideIfEmpty">
					<div class="modal-body" style="width: 100%;">

						<div class="simpleCart_items text-center"></div>

						<table class="table table-striped" style="width: 100%;">
							<thead>
								<tr>
									<th>Łącznie</th>
									<th>Koszty przesyłki</th>
									<th>Do zapłaty</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>
										<div class="simpleCart_total"></div>
									</td>
									<td>
										<div class="simpleCart_shipping"></div>
									</td>
									<td>
										<div class="simpleCart_grandTotal"></div>
									</td>
								</tr>
							</tbody>
						</table>

					</div>
					<div class="modal-footer">

						<!-- button to empty the cart -->
						<a href="javascript:;" class="simpleCart_empty btn btn-default">Opróżnij
							koszyk</a>
						<!-- create a checkout button -->
                        {% if user.is_authenticated %}
						<a href="/checkout"  class="simpleCart_checkout btn btn-primary">Złóż
							zamówienie</a>
                        {% endif %}
                        {% if not user.is_authenticated %}
						<a href="/login"  class="simpleCart_checkout btn btn-primary">Złóż
							zamówienie</a>
                        {% endif %}

					</div>
				</div>
			</div>
		</div>
	</div>


	<div class="container-fluid">
		<div class="row ">
			<div class="col-md-3">
				<div class="row asdd"
					style="background-color: rgba(255, 90, 0, 0.08);">
					<div class="col-md-12 text-center"
						style="color: rgba(0, 0, 0, 0.59); font-size: 30px; font-weight: 700;">
						MENU</div>
				</div>
			</div>
			<div class="col-md-9 ">
				<div class="row asddd"
					style="background-color: rgba(255, 255, 255, 0.95); padding-left: 50px;">
					<div class="col-xs-2 text-center tekstsortowanie"
						style="padding-left: 20px">SORTUJ WG CENY:</div>
					<div class="col-xs-3 text-center sortowanie "
						style="padding-left: 20px">
						<button type="button"
							class="btn btn-secondary btn-sm przyciskisortowania "
							data-mixitup-control data-sort="price:asc">
							OD NAJNIŻSZEJ &nbsp; <i class="fas fa-angle-up znaczekwsort"></i>
						</button>
						&emsp;&emsp;
						<button type="button"
							class="btn btn-secondary btn-sm przyciskisortowania "
							data-mixitup-control data-sort="price:desc">
							OD NAJWYŻSZEJ &nbsp; <i class="fas fa-angle-down znaczekwsort"></i>
						</button>
					</div>
				</div>
			</div>
		</div>


		<div class="row">
			<div class="row asd">


				<!--Menu z boku-->
				<div class="col-md-3 borderz text-center"
					style="min-width: 24%; background-color: #ffffff !important;">
					<div class="row position-sticky" style="top: 65px;">
						<!--col-->
						<div class="col-12">
							<!--style="border-right-color: #DADAD6;border-right-style: solid;border-right-width: 1px; background-color: #FFFFFF"-->

							<button class="btn collapsed btn-group-1 przy"
								onclick="myFunc1()" style="background-color: #FFFFFF"
								data-toggle="collapse" data-target="#collapseOne">
								<div class="row">
									<div class="col-9">
										<div class="napisymenuzlewej float-left">RODZAJE OBUWIA</div>
									</div>
									<div class="col-2">
										<div class="float-right" id="buton1" style="padding-top: 8px">
											<i class="fas fa-angle-up" id="znax1"></i>
										</div>
									</div>
								</div>
							</button>

							<div id="collapseOne" class="collapse" style="width: 104%"
								aria-labelledby="headingOne">
								<div class="card-body "
									style="background-color: #f2f6f7; border-bottom-color: #dadad6; border-bottom-width: 1px; border-bottom-style: solid;">
                                    {% for rodzaj in listarodzaje %}
                                    <div class="row">
										<div class="col-12 napisywbocznymmenuwysuwanym">
											<button type="button" data-mixitup-control
												data-filter=".{{ rodzaj.rodzaj_nazwa.lower }}"
												class="btn btn-sm przyciskmenubocznejaknav"
												>{{ rodzaj.rodzaj_nazwa.lower }}</button>
										</div>
									</div>
                                    {% endfor %}

								</div>
							</div>


						</div>


						<div class="col-12">
							<!--style="border-right-color: #DADAD6;border-right-style: solid;border-right-width: 1px; background-color: #FFFFFF"-->

							<button class="btn collapsed btn-group-1" onclick="myFunc2()"
								style="background-color: #FFFFFF" data-toggle="collapse"
								data-target="#collapseTwo">
								<div class="row">
									<div class="col-9">
										<div class="napisymenuzlewej float-left">KOLOR</div>
									</div>
									<div class="col-2">
										<div class="float-right" id="buton2" style="padding-top: 8px">
											<i class="fas fa-angle-up" id="znax2"></i>
										</div>
									</div>
								</div>
							</button>

							<div id="collapseTwo" class="collapse" style="width: 104%"
								aria-labelledby="headingOne">
								<div class="card-body "
									style="background-color: #f2f6f7; border-bottom-color: #dadad6; border-bottom-width: 1px; border-bottom-style: solid;">
									<div class="row">
										<div class="col-12 napisywbocznymmenuwysuwanym">
										<button type="button" data-mixitup-control

												data-filter=".bialy"
												class="btn btn-sm przyciskmenubocznejaknav"
												>biały</button>
										</div>
									</div>
									<div class="row">
										<div class="col-12 napisywbocznymmenuwysuwanym">
										<button type="button" data-mixitup-control

												data-filter=".czarny"
												class="btn btn-sm przyciskmenubocznejaknav"
												>czarny</button>
										</div>
									</div>
									<div class="row">
										<div class="col-12 napisywbocznymmenuwysuwanym">
										<button type="button" data-mixitup-control

												data-filter=".czerwony"
												class="btn btn-sm przyciskmenubocznejaknav"
												>czerwony</button>
										</div>
									</div>

								</div>
							</div>


						</div>
						<!--/col-->
						<div class="col-12">
							<!--style="border-right-color: #DADAD6;border-right-style: solid;border-right-width: 1px; background-color: #FFFFFF"-->

							<button class="btn collapsed btn-group-1" onclick="myFunc3()"
								style="background-color: #FFFFFF" data-toggle="collapse"
								data-target="#collapseThree">
								<div class="row">
									<div class="col-9">
										<div class="napisymenuzlewej float-left">MARKA</div>
									</div>
									<div class="col-2">
										<div class="float-right" id="buton3" style="padding-top: 8px">
											<i class="fas fa-angle-up" id="znax3"></i>
										</div>
									</div>
								</div>
							</button>

							<div id="collapseThree" class="collapse" style="width: 104%"
								aria-labelledby="headingOne">
								<div class="card-body "
									style="background-color: #f2f6f7; border-bottom-color: #dadad6; border-bottom-width: 1px; border-bottom-style: solid;">
                                    {% for producent in listaproducenci %}
									<div class="row">
										<div class="col-12 napisywbocznymmenuwysuwanym">
											<button type="button" data-mixitup-control

												data-filter=".{{producent.nazwa_producenta.lower}}"
												class="btn btn-sm przyciskmenubocznejaknav"
												>{{producent.nazwa_producenta.lower}}</button>
										</div>
									</div>
                                    {% endfor %}
								</div>
							</div>


						</div>



						<div class="col-12">
							<!--style="border-right-color: #DADAD6;border-right-style: solid;border-right-width: 1px; background-color: #FFFFFF"-->

							<button type="button"
								class="btn btn-group-1 text-center napisymenuzlewej"
								style="background-color: rgb(212, 221, 221); color: #75777c; padding-right: 30px"
								data-mixitup-control data-filter="all">WYCZYŚĆ FILTRY</button>
						</div>





					</div>


				</div>


				<!--menu glowne-->
				<div class="col-md-9 borderz"
					style="background-color: #FFFFFF; min-width: 70%; min-height: 400px">
					<!-- row -->
					<div class="container-fluid" id="cont" data-ref="container">

						<div id="noItemsFoundMessage" class="text-center"
							style="min-width: 100%; display: none">
							<h1>
								<p>Niestety nie znaleziono zadnych wynikow! Przepraszamy</p>

								<button type="button" class="btn btn-primary"
									data-mixitup-control data-filter="all">Wyczysc filtry</button>
							</h1>
						</div>

						<!-- przedmioty z listy -->
						<div class="row" style="padding-top: 20px">
                            {% for egzemplarz in lista  %}
							<div class="col-md-4 mix {{ egzemplarz.getprzedmiot.getrodzaj_producent.getrodzaj.rodzaj_nazwa.lower }} {{ egzemplarz.kolor.lower }} {{ egzemplarz.getprzedmiot.nazwa_przedmiotu.lower }} {{ egzemplarz.getprzedmiot.getrodzaj_producent.getproducent.nazwa_producenta.lower }}"
								 data-price="{{egzemplarz.getprzedmiot.cena}}">

								<div class="col-md-12 text-center itt">
									<div class="simpleCart_shelfItem">
										<div class="row">
											<div class="col-xs-12">
												<img src="{% static  egzemplarz.getprzedmiot.zdjecia  %}"
													class="item item_thumb"><img>
											</div>
										</div>
										<div class="row">
											<div class="col-xs-12 szer">
												<span class="item_name">
													{{egzemplarz.getprzedmiot.nazwa_przedmiotu.upper}} </span>
											</div>
										</div>
										<div class="row">
											<div class="col-xs-12 szer price">
												<span class="item_price">{{egzemplarz.getprzedmiot.cena}}.99 PLN</span><br>
											</div>
										</div>
										<div class="row">
											<div class="col-xs-12 szerbutton">
                                                {% if user.is_authenticated %}
												<button type="button"
{#                                                        sec:authorize="hasAnyAuthority('USER','ADMIN')"#}
                                                        class="item_add btn btn-primary">Do
													koszyka</button>
                                                {% endif %}
                                                {% if not user.is_authenticated %}
													<a href="/login"><button type="button"
                                                                             class="btn btn-primary">Do
													koszyka</button></a>
                                                {% endif %}
											</div>

										</div>
									</div>
								</div>
							</div>
                            {% endfor %}
						</div>

					</div>
				</div>
			</div>
		</div>

	</div>


	<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
	<script
		src="http://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script
		src="http://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
	<script src="{% static "js/simpleCart.js" %}"></script>
	<script
		src="{% static "mixitup-v3/patrickkunka-mixitup-61dac05/dist/mixitup.min.js" %}"></script>
	<script src="{% static "js/obuwie.js" %}"></script>


</body>
</html>